nav {
    height: 60px;
    width: 100%;
    position: fixed;
    background-color: lightgrey;
    border-color:black;
}
.navBut {
    display: inline-block;
    text-align: center;
    padding: 10px;
    height: 40px;
    width: 100px;
    color: white;
    background-color: #101010;
}
.petProfile {
    text-align: center;

}
section {
    float: right;
}